*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:bisque;
    
}


.header {
    background-color: #808080;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
  
.menu {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
  
.menu li {
    display: inline;
    margin-left: 20px;
}
  
.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}
  
.menu li a:hover {
    color: #FFD700;
}
  
img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color:blue;
}

h3{
    text-decoration: underline;
    font-size: 20px;
    color: rgb(86, 30, 240);
}

h5{
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

h6{
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  

input[type=submit]:hover {
    background-color: #45a049;
}
  

.container {
    border-radius: 5px;
    background-color: bisque;
    padding: 20px;
}